:root{
    --Gradient: linear-gradient(
        to right,
        hsl(6, 100%, 80%),
        hsl(335, 100%, 65%)
    );

    --Blue200: hsl(243, 100%, 93%);
    --GrayishBlue: hsl(229, 7%, 55%);
    --Blue850: hsl(228, 56%, 26%);
    --Blue950: hsl(229, 57%, 11%);
    --Blue950-40: hsla(229, 57%, 11%, 0.4);

}
*{
    box-sizing: border-box;
    margin: 0;
}
body{
    background: url(images/bg-mobile.png) top/cover no-repeat ;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Raleway , 'Times New Roman', Times, serif;
    color: var(--Blue200);
}
main{
    display: flex;
    flex-direction: column;
   
    gap: 1rem;
    min-width: 90%;
}

.card{
    background-color: var(--Blue850);
    padding: 4rem 2rem;
    border-radius: 15px;
}
.card--round{
    border-top-right-radius: 80px;
    padding-top: 5rem;
}
.card__btn{
    background-color: var(--Blue950);
    border-radius: 6px;
    border: none;
    width: 2.5rem;
    height: 3rem;
    margin: 1rem 0.5rem 0 0;
   
}
.card__btn img{
    max-height: 1.5rem;
    max-width: 1.5rem;
    display: block;
    margin: 0 auto;
}
.bar{
    width: 100%;
    height: 1rem;
    background-color: var(--Blue950-40);
    border: 1px solid var(--Blue950-40);
    margin: 1rem auto;
    border-radius: 10px;
}
.bar__fill{
    height: 100%;
    width: 81.5%;
    background-image: var(--Gradient);
    position: relative;
    border-radius: 10px;
    border: 1px solid var(--Blue950);
}
.point{
    border-radius: 50%;
    height: 0.6rem;
    width: 0.6rem;
    background-color: white;
    position: absolute;
    right: 2px;
    top: 1px;
}
.scale{
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
}
.container{
    position: relative;
}
.box{
    position: absolute;
    left: 50%;
    transform: translateX(-50%)
}
.rectangle{
    background-color: white;
    border-radius: 10px;
    padding: 1rem;
    width: fit-content;
    margin-top: 2rem;
}
.rectangle p {
    color: var(--GrayishBlue);
    font-size: 0.8rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.text--dark{
    color: var(--Blue950);
    font-weight: 700;
    font-size: 2rem;
}

@media (min-width: 1000px) {
    body{
        background-image: url(images/bg-desktop.png);
    }
    main{
        flex-direction: row;
        justify-content: center;
    }
    .card{
        width: 40rem;
        height: fit-content;
        margin-top: auto;
    }
    .card--round{
        width: 25rem;
    }
    .box{
        top: -10rem;
        right: 0;
        left: auto;
        transform: none; 
    }
    .triangle{
        width: 1rem;
        height: 1rem;
        border-top: 10px solid white;
        border-right: 10px solid white;
        border-bottom: 10px solid transparent;
        border-left: 10px solid transparent;
        margin-right: 10px;
        margin-left: auto;
    }
}